---
title: 
doi: 
ris-id:
authors:
publin: ""
layout: single
---
<!-- Leave as is, let Jekyll do the work. -->
{% capture doiurl %}https://doi.org/{{page.doi | remove_first: "DOI:"}}{% endcapture %}
{% capture risurl %}https://ris.uni-paderborn.de/record/{{page.ris-id}}{% endcapture %}

<html><p><b>{{ page.authors }}.</b> Published in: {{ page.publin }}</p></html>

## Information

* DOI: <a href="{{doiurl}}">{{doiurl}}</a>
{% if page.ris-id %}
* RIS: <a href="{{risurl}}">{{risurl}}</a>
{% endif %}

<!-- Change abstract -->
## Abstract
